
    <div class="texture">
        {% for block in section.blocks %}
            <div class="block-link"> 
                <div class="image-wrapper">
                    <img
                        srcset="{%- if block.settings.texture.width >= 275 -%}{{ block.settings.texture | img_url: '275x' }} 275w,{%- endif -%}
                            {%- if block.settings.texture.width >= 550 -%}{{ block.settings.texture | img_url: '550x' }} 550w,{%- endif -%}
                            {%- if block.settings.texture.width >= 710 -%}{{ block.settings.texture | img_url: '710x' }} 710w,{%- endif -%}
                            {%- if block.settings.texture.width >= 1420 -%}{{ block.settings.texture | img_url: '1420x' }} 1420w,{%- endif -%}
                            {{ block.settings.texture | img_url: 'master' }} {{ block.settings.texture.width }}w"
                        src="{{ block.settings.texture | img_url: '1420' }}"
                        sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        calc(100vw - 30px)"
                        alt="{{ block.settings.texture.alt }}"
                        loading="lazy"
                        width="{{ block.settings.texture.width }}"
                        height="{{ block.settings.texture.height }}"
                        >
                </div> 
            </div>
        
    
            {% endfor %} 
        </div>



{% schema %}
{ 
    "name": "texture-bar",
    "blocks" : 	[
        {
            "type":"image",
            "name":"texture image",
            "limit": 1,
            "settings":	[
                {
                    "type": "image_picker",
                    "label": "Texture Bar",
                    "id":"texture"
                }
            ]

        }
    ]
}
{% endschema %}